<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 스프링 설정 파일 -->
<!-- 1. 빈 설정 -->
<bean class="example.controller.HelloController"/><!-- 재사용하지 않을 것이기 때문에 id와 닫는태그 필요 없음. -->

</beans>
